@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER */
.logo{
    @apply 

    max-h-44
    m-auto
    mb-8
    
    hover:animate-pulse
}

.nav{
    @apply 

    p-5 
    justify-between
    
    lg:flex 

}

.contact{
    @apply 

    bg-[#FBB811] 
    text-white 
    duration-500 
    px-6 py-2 
    mx-16 
    rounded 
    text-center

    hover:bg-[#D8DADE]
}

.sections{
    @apply 
    
    static 
    bg-white 
    w-auto 
    grid-cols-1

    lg:items-center 
    lg:flex 
}

.link{
    @apply 
    
    mx-16 
    text-xl 
    hover:text-[#FBB811] 
    duration-500 
    pb-5 
    text-center

    lg:pb-0

}

/*BANNER*/

.banner{
    @apply 
    
    bg-black 
    h-auto 
    
    hover:bg-[#FBB811] 
    
    duration-1000
}

.bannerText{
    @apply 

    text-white 
    hover:text-black

    lg:text-8xl 
    md:text-5xl 
    text-3xl 
    
    overflow-auto 

    pb-16 
    pt-12 
    m-auto 

    text-center 
    font-mono 

    duration-1000 
}