@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ZILLA";
    src: url("../../src/fonts/zilla/ZillaSlab-Light.ttf");
  }

/* HEADER */
.logo{
    @apply 

    max-h-44
    m-auto
    mb-8
    
    hover:animate-pulse
}

.nav{
    @apply 

    p-5 
    justify-between
    
    lg:flex 

}

.contact{
    @apply 

    bg-[#FBB811] 
    duration-500 
    px-6 py-2 
    mx-16 
    rounded 
    text-center
    font-zilla
    text-lg
    

    hover:bg-[#D8DADE]
}

.sections{
    @apply 
    
    static 
    bg-lgrey
    rounded

    w-auto 
    lg:m-5
    mr-0
    p-2

    grid-cols-1
    font-zilla
    font-bold

    lg:items-center 
    lg:flex 

}

.link{
    @apply 
    
    mx-16 
    text-xl 
    hover:text-[#FBB811] 
    duration-500 
    pb-5 
    text-center

    lg:pb-0

}

/*BANNER*/

.banner{
    @apply 
    
    h-auto 
    
    bg-dgrey 
    
    duration-1000
}

.bannerText{
    @apply 

    lg:text-8xl 
    md:text-5xl 
    text-3xl 
    
    overflow-auto 

    pb-16 
    pt-12 
    m-auto 

    text-center 
    font-mono 

    duration-1000 
    text-yellow
}

/*scroll animations*/

